/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  margin: auto;
  width: 500px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 91%;
  padding: 12px 20px;
  margin: 8px 0px;
  border: 1px solid #ccc;


}

/* Set a style for all buttons */
button {
  background-color: #FF0000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}
